#!/usr/bin/env zsh
set -e

use asdf

export JEKYLL_EDITOR=code
export IP_ADDR=mac.home   # Use your machines hostname or local IP address for the benefit of `bin/qr-code`. Remember update `ignore-urls` in `bin/test`.
export PORT=4000
