---
---

@import 'main';

/* append your custom style below */

#sidebar .site-title {
  font-size: 1.35rem;  // Override the title to fit 'GetOutOfMyBakery' in the sidebar
}

main .content .external-link::after {
  // @extend %no-cursor;
  // content: "\f08e"; // Font-Awesome external link icon
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-bottom: 0.2em;
  margin-left: 0.1em;
  color: var(--text-color);
  background-image: url('/assets/img/external-link.svg');
  background-repeat: no-repeat;
  background-position: center;
}
