---
---

@import 'main';

/* append your custom style below */

#sidebar .site-title {
  font-size: 1.35rem;  // Override the title to fit 'GetOutOfMyBakery' in the sidebar
}

main .content .external-link::after {
  font: var(--fa-font-solid);
  font-size: 0.8rem;
  margin-left: 0.3rem;
  vertical-align: super;
  content: "\f08e";
  color: var(--link-color);
}
